*{
    padding: 0px;
    margin:0px;
    font-family: sans-serif;
}
body{
    background-image: url(https://i1.wp.com/www.frebers.com/wp-content/uploads/2020/08/Vector-black-abstract-background-free-vector-download-01-scaled.jpg?fit=2560%2C1440&ssl=1);
    background-size: cover;
    text-align: center;
}
.contact-form{
    margin-top: 100px;
    color:#ff5722;
    text-transform: uppercase;
    transition: all 4s ease-in-out;

}
.contact-form h1{
    font-size: 32px;
}
form{
    margin-top:50px;
    transition: all 4s ease-in-out;
}
.form-control{
    width:400px;
    background: transparent;
    border:none;
    outline:none;
    border-bottom: 1px solid gray;
    color:#fff;
    font-size: 18px;
    margin-bottom: 18px;
}
input{
    height:45px;
}
form .submit{
    background:#ff5722;
    border:transparent;
    color:#fff;
    font-size:20px;
    font-weight: bold;
    letter-spacing: 2px;
    height:50px;
    margin-top:20px;
}
form .submit:hover{
   background:#f44336;
   cursor:pointer;


}